

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h3 {color: blueviolet;}
article{text-align: right;font-weight: 200}
* {font-family: 'pacifico', cursive ;}
.big{color: red;} 